In [2]:
from PIL import Image

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from datetime import timedelta
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from statsmodels.tsa.api import Holt

#import streamlit as st  
import pickle 
import numpy as np

In [3]:
File = pd.read_csv('countries-aggregated_csv.csv')

In [4]:
File = File[['Date','Country','Confirmed','Deaths']]

In [5]:
File

              Date      Country  Confirmed  Deaths
0       23-01-2020  Afghanistan          0       0
1       24-01-2020  Afghanistan          0       0
2       25-01-2020  Afghanistan          0       0
3       26-01-2020  Afghanistan          0       0
4       27-01-2020  Afghanistan          0       0
...            ...          ...        ...     ...
133078  26-11-2021     Zimbabwe     133836    4704
133079  27-11-2021     Zimbabwe     133836    4704
133080  28-11-2021     Zimbabwe     133951    4705
133081  29-11-2021     Zimbabwe     134226    4706
133082  30-11-2021     Zimbabwe     134625    4707

[133083 rows x 4 columns]

In [6]:
File.columns = ['Date','Country','Confirmed','Deaths']

In [7]:
display = File.sort_values(['Confirmed'], ascending=[False]).drop_duplicates(['Country']).reset_index(drop=True)

In [8]:
display

           Date           Country  Confirmed  Deaths
0    30-11-2021                US   48586419  781575
1    30-11-2021             India   34596776  469247
2    30-11-2021            Brazil   22100143  614985
3    30-11-2021    United Kingdom   10285745  145414
4    30-11-2021            Russia    9468640  269900
..          ...               ...        ...     ...
191  08-03-2021  Marshall Islands          4       0
192  05-07-2021             Samoa          3       0
193  01-06-2021          Kiribati          2       0
194  21-11-2021             Tonga          1       0
195  27-06-2021        Micronesia          1       0

[196 rows x 4 columns]

In [10]:
models = {
        "Linear Regression",
        "Support Vector Machine",
        "Time Series Analysis",
        "Exponential Smoothing"
    }
    # data_series = data['Country'].tolist()
data_series = File["Country"].unique()
s = st.selectbox("Country", data_series)
model = st.selectbox("Models", models)
    # select_country(s)

NameError: name 'st' is not defined

In [21]:
x=5

In [20]:
country

0         Afghanistan
1         Afghanistan
2         Afghanistan
3         Afghanistan
4         Afghanistan
             ...
133078       Zimbabwe
133079       Zimbabwe
133080       Zimbabwe
133081       Zimbabwe
133082       Zimbabwe
Name: Country, Length: 133083, dtype: object

In [24]:
echo $x

5